.body{
    margin: 60px;
    padding: 10px;
}

#container{

    margin: 60px;
    padding: 10px;

}

#subscribe{

    margin: 60px;
    padding: 10px;


}

.contact{

    text-align: center;
}


.about{

    text-align: center;
}



.products{

    text-align: center;
    margin-top: 80px;
    
}


#shoes h3{
    text-align: center;
    margin-bottom: 20px;

}


#backpack h3{

    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}


